@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (Model.IsInitialLoad)
{
    <div id="initial-loading" class="alert alert-info">
        Initial data is loading, please wait...
    </div>
}
<h6 class="display-4 mb-3">Explore your air quality</h6>
<div id="map" style="height: 600px; width: 100%; border-radius: 10px;"></div>

<script>
    const loadingMsg = document.getElementById("initial-loading");

    function hideInitialLoadingMessage() {
        setTimeout(function() {
            if (loadingMsg) {
                loadingMsg.remove(); 
            }
        }, 30000); 
    }

    window.onload = function() {
        hideInitialLoadingMessage(); 
    };


    async function getPollutionData(iso) {
      try {
        const response = await fetch(`/api/AirQuality/GetAQIByCities?iso=${iso}`);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();

        data.forEach(city => {
            const circle = L.circle([city.latitude, city.longitude], {
                color: getColor(city.current.us_Aqi),  
                fillColor: getColor(city.current.us_Aqi),
                fillOpacity: 0.4,
                radius: 3000 
            }).addTo(map);

            const aqiText = L.divIcon({
            className: 'aqi-text',  
            html: `<div>${city.current.us_Aqi}</div>`,
            iconSize: [20, 20]
            });

            L.marker([city.latitude, city.longitude], { icon: aqiText }).addTo(map);
        });
      } catch (error) {
        console.error('Error fetching pollution data:', error);
      }
    }

    var map = L.map('map', {
      center: [43.8486, 18.3564],  
      zoom: 9,                     
      minZoom: 9,                  
      maxZoom: 9,                  
      scrollWheelZoom: false,      
      dragging: true,              
      touchZoom: false,            
      doubleClickZoom: false       
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var bounds = [
      [42.5, 15.5],  
      [44.5, 19.7]   
    ];

    map.setMaxBounds(bounds);

    map.on('drag', function() {
      map.panInsideBounds(bounds);
    });

    function getColor(aqi) {
        if(0 < aqi && aqi <= 50) return 'green';
        if(aqi >= 51 && aqi <= 100) return 'yellow';
        if(aqi >= 101 && aqi <= 150) return 'orange';
        if(aqi >= 151 && aqi <= 200) return 'red';
        if(aqi >= 201 && aqi <= 300) return 'purple';
        return 'maroon';
    }

    getPollutionData('BA');
</script>
