@page
@model AirQuality.UI.Pages.WorldMapModel
@{
}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />


<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search position-relative" style="width:100%;">
    <div class="input-group">
        <input id="city-search" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <ul id="searchResults" class="list-group position-absolute mt-1 mw-100" style="z-index: 999; top:100%;"></ul>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<div id="map" style="height: 90vh; border-radius:10px;"></div>
<div id="legend" class="aq-legend"></div>
<div class="legend">
    <div class="legend-item good">
        <span>Good</span>
    </div>
    <div class="legend-item moderate">
        <span>Moderate</span>
    </div>
    <div class="legend-item unhealthy-sensitive">
        <span>Unhealthy for sensitive groups</span>
    </div>
    <div class="legend-item unhealthy">
        <span>Unhealthy</span>
    </div>
    <div class="legend-item very-unhealthy">
        <span>Very unhealthy</span>
    </div>
    <div class="legend-item hazardous">
        <span>Hazardous</span>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="~/js/airmap.js"></script>

<style>
    .legend {
        border-radius: 5px;
        margin:20px auto;
        justify-content:center;
        display:flex;
        font-size:14px;
        color:white;
    }

    .legend .legend-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        box-sizing:border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .legend .good {
        background-color: green;
    }

    .legend .moderate {
        background-color: yellow;
    }

    .legend .unhealthy-sensitive {
        background-color: orange;
    }

    .legend .unhealthy {
        background-color: red;
    }

    .legend .very-unhealthy {
        background-color: purple;
    }

    .legend .hazardous {
        background-color: maroon;
    }

    .legend-item span{
        margin:5px 8px;
    }

    .input-group{
        margin: 30px;
        padding: 0 15%;
        width: auto;
    }
</style>